/* VARIABLES */:root {
--main-color: #f47c9b;
--dark-color: #222;
--light-color: #fff;
--bg-color: #f9f9f9;
--font: 'Poppins', sans-serif;
}

/* RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* GLOBAL */
body {
font-family: var(--font);
color: var(--dark-color);
line-height: 1.6;
}

.container {
width: 90%;
max-width: 1100px;
margin: auto;
}

h2 {
margin-bottom: 1rem;
text-align: center;
}

/* HEADER */
.header {
background: var(--light-color);
padding: 1rem 0;
}

.pdp {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;


}

.logo {
color: var(--main-color);
}

.header .container {
display: flex;
justify-content: space-between;
align-items: center;
}

.nav {
list-style: none;
display: flex;
gap: 1rem;
}

.nav a {
text-decoration: none;
color: var(--dark-color);
}

/* HERO */
.hero {
background: var(--bg-color);
padding: 4rem 0;
text-align: center;
}

.hero h2 {
font-size: 2rem;
}

.btn {
display: inline-block;
margin-top: 1rem;
padding: 0.7rem 1.5rem;
background: var(--main-color);
color: var(--light-color);
text-decoration: none;
border-radius: 5px;
border: none;
cursor: pointer;
}

/* ABOUT */
.about {
padding: 3rem 0;
text-align: center;
}

/* SERVICES */
.services {
background: var(--bg-color);
padding: 3rem 0;
}

.cards {
display: flex;
gap: 1rem;
flex-wrap: wrap;
}

.card {
background: var(--light-color);
padding: 1.5rem;
border-radius: 5px;
flex: 1;
min-width: 250px;
text-align: center;
}

/* CONTACT */
.contact {
padding: 3rem 0;
}

form {
max-width: 500px;
margin: auto;
display: flex;
flex-direction: column;
gap: 1rem;
}

input, textarea {
padding: 0.7rem;
border: 1px solid #ccc;
border-radius: 5px;
}

/* FOOTER */
.footer {
background: var(--dark-color);
color: var(--light-color);
text-align: center;
padding: 1rem;
margin-top: 2rem;
}

.insta {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 768px) {
.header .container {
flex-direction: column;
gap: 1rem;
}

.cards {
flex-direction: column;
}
}